*{
    margin:0px;padding:0px;
}

html,body{
    height:100%;
}

p {
    font-family: 'roboto', sans-serif,;
    color: black;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    
}

a {
    font-family: 'roboto', sans-serif,;
    color: black;
    font-size: 1vw;
    letter-spacing: 0px;
    font-weight: 500;
    line-height: 1.5vw;
    text-decoration: none;
} 

h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0vw;
    text-align: left;
    color: black;
    line-height: 80px; 
    font-size: 60px;
    margin-bottom: 0;   
}


#main h2{
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
}



#container{
    width:100%;
    margin:0px auto;
    overflow:hidden;
}

.home_button img{
    margin-top: 0%!important;
}

.home_button img:hover {
    transform:none; /* use appropriate value here */
}

}




#main_bg_container{
    float:left;
    width:100%;
    
}




.ui { 
            background-image: url(images/groove5.jpg);
        background-repeat:  no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain; 
            background-size: contain;
            background-position: center center;

            /*height: 100%;*/
        }


.motion { 
            background-image: url(images/sketch7.jpg);
        background-repeat:  no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain; 
            background-size: contain;
            background-position: center center;

            /*height: 100%;*/
        }

.print { 
            background-image: url(images/ror5.jpg);
        background-repeat:  no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain; 
            background-size: contain;
            background-position: center center;

            /*height: 100%;*/
        }

.web { 
            background-image: url(images/web.jpg);
        background-repeat:  no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain; 
            background-size: contain;
            background-position: center center;

            /*height: 100%;*/
        }

.branding { 
            background-image: url(images/blum7.jpg);
        background-repeat:  no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain; 
            background-size: contain;
            background-position: center center;

            /*height: 100%;*/
        }

.typography { 
            background-image: url(images/mo8.jpg);
        background-repeat:  no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain; 
            background-size: contain;
            background-position: center center;

            /*height: 100%;*/
        }






.social{
 overflow: hidden;
  position: fixed;
 bottom: 0; 
  width: 100%;
  margin-left: 5%;
  margin-right: 10%;
padding-bottom: 32px; 
    padding-left: 0%;
    margin-top: 10vh;

}

.instagram a{
    font-size: 20px;
    float: left;
    display: block;
    padding-top: 10%;
    padding-right: 3.2%!important;
    margin-left: 0%!important;
}

.instagram a:hover{
    color: #1E90FF;
    text-decoration: none;
    transition: 0.5s;
}

.linkedin a{
    font-size: 20px;
    float: left;
    display: block;
    padding-top: 10%;
    padding-right: 3.2%;
    margin-left: 0%!important;
    
}

.linkedin a:hover{
    color: #1E90FF;
    text-decoration: none;
    transition: 0.5s;
}






.bottomnav{
 overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 90%;
  margin-left: 10%;
  margin-right: 0%;
  padding-bottom: 40px;
    height: 100;
      

}

.bottomnav a{
    font-size: 20px;
    float: left;
    display: block;
    padding-top: 2%;
    padding-right: 3.2%;
    line-height:21px; 

}

.bottomnav a:hover{
    color: #1E90FF;
    text-decoration: none;
    transition: 0.5s;
}


.nav{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
    
}

.nav.fixed{
    
}

.menu{
    margin-left: auto;
    margin-top: auto;
    line-height: 12px;
    padding-bottom: 0%!important;
    margin-bottom: 0% !important;
    font-weight: 500;
}

.menu:hover{
    color: #1E90FF;
    font-family: 'roboto', sans-serif,!important;  
    transition: 0.5s;

}

.aboutnav{
    margin-top: 30px;  
}

.aboutnav a{
    font-size: 30px!important;
}

.resumenav{
    margin-top: 20px;
}

.resumenav a{
    font-size: 30px!important;
}

.worknav{
    color: darkgrey;
    margin-bottom: 20px;
    margin-top: 0vh;

}



.worknav a{
    font-size: 30px!important;
}

.worklink a{
    font-size:15px !important;
    color: darkgray!important;
    margin-left: 20% !important;
    margin-top: 2vh!important;
    padding: 0!important;
}

 .worklink a:hover{
   color: #1E90FF !important;
   
}


.closebtn{
    font-size: 2.5rem;
    font-weight:500;
    color:dimgray;
    margin-left: 80%;
    line-height: 0px;
    /*padding-top: 10%;
    padding-bottom: 18%;*/
    position:absolute;
    top:10%;
    margin-bottom: 0;
}

.closebtn:hover{
      transition: 0.5s;
    color: #1E90FF ;
}

#mySidenav {
  width: 0;
  /*padding-top: 40px;  */
    padding-top:10%;
}

#main {
    /*float:left;
    width:100%;
    height:100%;*/
    margin-right: 30%;
    margin-top: 23vh;
    margin-left: 10%;
}

#main_h2_holder {
    margin-top: 0%;
    float:left;
    width:90%;
}

#mySidenav.open {
  width: 33%;
}



#main.open {
  margin-right: 36%;
} 


body{
  margin:0;
  padding:0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10% !important; 
    box-sizing:border-box;
    
}

.sidenav a {
    padding: 10px 8px 8px 0px;
    text-decoration: none;
    font-size: 20px;
    color: darkgrey;
    display: block;
    transition: 0.3s;
    margin-left: 15%;
    margin-top: 0px;
}

 .sidenav a:hover{
   color: #1E90FF ;  
}



#main {
  transition: .5s;  
  background-color:white;
}







/*  ----------------- MOTION AND ILLUSTRATION STYLES -------------------  */


.title{
    margin-top: 60px;
    margin-left: 10%;
    margin-bottom: 5px;
}

/* Create four equal columns that sits next to each other
And also over write left & right padding with internal stylesheet for col*/
.row > div {
      padding: 0 4px !important;
}

img{
    margin-top: 8px;
    vertical-align: middle; 
}

img:hover{
    /*  transform: scale(1.5);use appropriate value here */
        transition: 0.3s;

}


.img-fluid{
    border-radius: 0px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1.5px 2px 2px #f6f6f6;
}

.img-fluid:hover{
   opacity: 0.7; 
}
 
.container-fluid{
 padding-top: 0%!important; 
 padding-left: 10.75%;  
 padding-right: 10.75%;     
}
 





/* Style the Image Used to Trigger the Modal */
/*.myImg {
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 1.5px 2px 2px #f6f6f6;


}

.myImg:hover {opacity: 0.7;}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  border-radius: 0px!important;    
  margin: auto;
  display: block;
  width: 80%;
  max-width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 600;
  transition: 0.3s;
  text-shadow: none !important;    
}

.close:hover,
.close:focus {
  transition: 0.3s;    
  color: #1E90FF;
  text-decoration: none;
  cursor: pointer;
}

.reel{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4%;
}


.hr_2 {
width: 80%;
height: 2px;
margin-left: auto;
margin-right: auto;
background-color: black;
border: 0 none;
margin-top: 1rem;
margin-bottom:1rem;
}  





/* -------------------- ABOUT PAGE STYLES -------------------- */

.about_pic{
    display: inline-block;
    float: left;
    margin-top: 45px;
    width:auto;
    height: 74vh;
   
}

.about_h1_holder{
    display: inline-block;
    width: 42%;
    margin-left: 8%;
    margin-top: 33vh;
}

.about_h1_holder h1{
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 0;
}

#about_container{
    height: 81.4vh;
    margin-right: 0%;
    margin-left: 10%;
}



/* -------------------- UI/UX PAGE STYLES -------------------- */

#ui_head{
   
}

.ui_head_pic{
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 0px;
    width:auto;
    height: 90vh;
   
}

.ui_h2_holder{
    position: absolute;
    float: left;
    width: 34.5%;
    margin-left: 10%;
    margin-top: 35vh;
}

.arrow_down{
    margin-left: 10%;
    margin-top: 70vh;
    margin-bottom: 7%;

}

.print_arrow_down{
    margin-left: 10%;
    margin-top: 70vh;
    margin-bottom: 7%;

}


.ui_how_holder{
    position: relative;
    float: right;
    width: 39.5%;
    margin-right: 10%;
    margin-top: 85px;
   margin-bottom: 0px;

}

.ui_how_holder h2{
    font-size: 40px;
    line-height: 55px;
}

#how_pic{
    
}

.how_pic{
    display: inline;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 80px;
    margin-right: 0%;
    width:34vw;
    margin-bottom: 40px;

}

.ui_branding_holder{
    float: left;
    margin-left: 10%;
    width: 34.25%;
    margin-top: 30px;
}


.ui_branding_holder h2{
    font-size: 40px;
    line-height: 55px;
}

.icon_pic{
    display: inline;
    position: relative;
    float: right;
    margin-left: 0%;
    margin-top: 0px;
    width:43vw;  
}

#icon_pic_holder{
    display: inline;
    position: relative;
    float: right;
    margin-left: 0%;
    margin-top: px;
    margin-right: 8.5%;
    width:43vw;
}

hr {
width: 80%;
height: 2px;
margin-left: auto;
margin-right: auto;
background-color: #FFDF4B;
border: 0 none;
margin-top: 1rem;
margin-bottom: 1rem;    
}



.icon_text{
}

.icon_text p{
    margin-top: 0%;
    margin-bottom: 2%;
    font-weight: 400;
    font-size: 15PX;
    text-align: center;
} 

#iconandcolour_holder{
    margin-top: 25px;
    margin-left: 0%;
    
}

.screens{
    display: none
}

.screens2{
    width: 85%;
    margin-left: 6.8%;
    margin-bottom: 2%;
}

.insta_ad{
    width: 80%;
    margin-left: 10%;
    margin-top:5px;
}

.advertising{
    margin-left: 10%
}

.advertising h2{
    font-size: 40px;
    line-height: 55px;
}


.groove_video{
    width: 80%;
    margin-left: 10%;
    position: relative;
    margin-top: 4%;
    box-shadow: 0px 2px 10px 5px #f6f6f6;
    margin-bottom: 4%;
}

.footer{
    margin-top: 3%;
}

.footer a:hover{
   color: #1E90FF;
    text-decoration: none;
    transition: 0.5s; 
}


.previous{
    margin-left: 10%;
    margin-top: 0%;
    float: left;
    
}

.previous a{
    display: inline;
}

.previous a:hover{
    color: #1E90FF;
    text-decoration: none;
    transition: 0.5s;
}

.next{
    float: right;
    margin-right: 10%;
    margin-top: 0%;
}

.next a{
    display: inline;
}

.next a:hover{
    color: #1E90FF;
    text-decoration: none;
    transition: 0.5s;
}


.backtotop{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-bottom: 4%;
}

.backtotop a:hover{
    color: #1E90FF;
    text-decoration: none;
    transition: 0.5s;
}


.previous_mobile{
        display: none;
    } 
    
.next_mobile{
       display: none;
    }   




/* -------------------- PRINT PAGE STYLES -------------------- */


.print_head_pic{
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 9%;
    margin-top: 10px;
    width:auto;
    height: 80vh;
   
}

.print_goal_pic{
    display: inline;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 80px;
    margin-right: 0%;
    width:34vw;
    margin-bottom: 40px;

}

.ror1{
    position: relative;
    float: left;
    width: 35%;
    margin-left: 8.5%;
    margin-top: 3.5%;
}

.ror2{
    position: relative;
    float: left;
    width: 38.5%;
    margin-left: 7.75%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.ror3{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.ror4{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
}

.ror5{
    position: relative;
    float: left;
    width: 38.5%;
    margin-left: 10%;
    margin-top: 5.5%;
    margin-bottom: 0%;
}

.ror6{
    position: relative;
    float: left;
    width: 38.5%;
    margin-left: 3%;
    margin-top: 5.5%;
    margin-bottom: 0%;
}

.ror7{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
    margin-bottom: 4%;
}


/* -------------------- WEB PAGE STYLES -------------------- */

#web_head{
    
}

.web_head_pic{
   position: relative;
    display: inline-block;
    float: right;
    margin-right: 9%;
    margin-top: 7.5vh;
    width:auto;
    height: 70vh;  
}

.web_goal_pic{
    margin-left: 10%;
    width: 32%;
    float: left;
    margin-top: 40px;
}

.web_h2_holder{
    float: left;
    margin-top: 34px;
    margin-left: 10%;
}

.web_h2_holder h2{
    font-size: 40px;
    line-height: 55px;
}

.web_how_holder{
    float: right;
    width: 54%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 1%;
}

.nb_video{
    margin-top: 5%;
    margin-left: 0%;
        margin-bottom: -3%;

}

.web1{
    position: relative;
    float:left;
    margin-left: 9%;
    width: 21%;
    margin-top: -1%;
}

.web2{
  position: relative;
    float:left;
    margin-left: 4%;
    width: 58%; 
    margin-bottom: 3%;
    margin-top: -1%;
}

/* -------------------- BRANDING PAGE STYLES -------------------- */


.branding_head_pic{
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    width:36vw;
    height: auto; 
}

.blum1{
    position: relative;
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-top: 3.5%;
}

.blum2{
    position: relative;
    float: left;
    width: 37%;
    margin-left: 7.75%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.ror3{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.ror4{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
}

.ror5{
    position: relative;
    float: left;
    width: 38.5%;
    margin-left: 10%;
    margin-top: 5.5%;
    margin-bottom: 0%;
}

.ror6{
    position: relative;
    float: left;
    width: 38.5%;
    margin-left: 3%;
    margin-top: 5.5%;
    margin-bottom: 0%;
}

.ror7{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
    margin-bottom: 4%;
}



/* -------------------- TYPOGRAPHY PAGE STYLES -------------------- */


.type_head_pic{
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 9%;
    margin-top: 130px;
    width:auto;
    height: 50vh;
   
}


.mo1{
    position: relative;
    float: left;
    width: 38%;
    margin-left: 10%;
    margin-top: 3.5%;
}

.mo2{
    position: relative;
    float: left;
    width: 38%;
    margin-left: 4%;
    margin-top: 3.5%;
}

.mo3{
    position: relative;
    float: left;
    width: 38%;
    margin-left: 4%;
    margin-top: 3.5%;
    margin-bottom: 3%;
}


/* -------------------- MOBILE MEDIA QUERIES -------------------- */





@media screen and (max-width: 1024px) {


    .worknav{
        margin-top: 15vh;
    }    
    
#main{
    margin-top: 13vh;
     margin-right: 0% ;  
    }   
    
#main_h2_holder {
    margin-top: 0%;
    float:left;
    width:90%;
}  
    
p {
        font-size: 2.25vw;
        line-height: 3vw;
    }    
    
.ui_h2_holder{
    position: relative;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0% !important;
} 
    
.arrow_down{
  margin-top: 70vh;
  position: absolute;

}
    
.print_arrow_down{
  display: none;

}    

    
.ui_how_holder{
    position: relative;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
} 
    
    .how_pic{
        margin-left: 10%;
        margin-top: 3%;
        width: 36%;
        margin-bottom: 4%
    }    
 
.ui_branding_holder{
    position: relative;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 15px;
}
 
 .icon_pic{
        width: 40.5vw;
     float: left;
        margin-top: 0px;
    }
    
#icon_pic_holder{
    display: inline;
    position: relative;
    float: left;
    margin-left: 0%;
    margin-top: 10px;
    margin-right: 2%;
    width:40.5vw;
}
        
 .icon_text{
     margin-top: 15%;
}

.icon_text p{
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: 15PX;
    text-align: center;
    
} 
    
hr {
margin-top: 1rem;
margin-bottom: 1rem;    
}
    
    
#iconandcolour_holder{
    margin-left: 8.75%;
    
}    
 
    
.screens2{
    margin-top: 3%;
    margin-bottom: 2%;
} 
    
    
.backtotop a{
      font-size: 1.45vw;
    } 
    
    
.print_head_pic{
    display: inline-block;
    float: right;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    height: auto;
    margin-bottom: 6%;
} 
    
.print_goal_pic{
    margin-left: 10%;
    margin-top: 4%;
    width: 36%;
    margin-bottom: 3%;    
}     
    
.web_head_pic{
   position: relative;
    display: inline-block;
    float: right;
    margin-right: 22%;
    margin-top: 5%;
    margin-bottom: 10%;
    width:50%;
    height: auto;  
} 
    
    .web_goal_pic{
        display: none;
    }     
    
.web_how_holder{
    margin-top: 0%;
    width: 80%;
    margin-left: 10%;
}
    
.branding_head_pic{
   position: relative;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width:80%;
    height: auto;  
} 
    
.type_head_pic{
    display: inline-block;
    float: right;
    margin-right: 20%;
    margin-top: 8%;
    width: 60%;
    height: auto;
    margin-bottom: 8%;
}     
    
}




@media screen and (max-width: 700px) {
  #mySidenav.open { width: 100%; }
  #main.open { margin-Right: 100%; }
   
    
    p {
        font-size: 3vw;
        line-height: 4.5vw;
    }
    
    .social{
        position: relative;
        margin-left: 15%;
        margin-top: 8vh;
        padding-bottom: 0%;
        bottom: none;
     /*   padding-bottom: 8vh; */
    }    
    
    .ui{background-image: none;}
    .motion{background-image: none;}
    .print{background-image: none;}
    .web{background-image: none;}
    .branding{background-image: none;}
    .typography{background-image: none;}
    
.bottomnav a{
    font-size: 35px;
    line-height: 32px;
    float: left;
    display: block;
    padding-top: 0%;
    padding-right: 0%;
    margin-top: 8%;
    font-weight: 600;
}
    
   
    
    .bnav{
        display: inline-block;
        width: 80%;
    }    
    
    #main{
     display: none;
    }    
    
#main h2 {
    font-size: 3.5vw;
    line-height: 5vw;
  
    }
    
    
  .aboutnav{
    margin-top: 7vh;  
}

.aboutnav a{
    font-size: 40px!important;
}

.resumenav{
    margin-top: 5vh;
}

.resumenav a{
    font-size: 40px!important;
}

.worknav{
    color: darkgrey;
    margin-top: 7.25vh; 
}

.worknav a{
    font-size: 40px!important;
    
}

.worklink a{
    font-size:20px !important;
    color: darkgray!important;
    margin-left: 15% !important;
    margin-top: 5vh!important;
    padding: 0!important;
}

 .worklink a:hover{
   color: #1E90FF !important;  
}


/*.closebtn{
    margin-left: 80%;  
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
        
}*/
    
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5vh !important;
    
}   
    
    
 
    
.container-fluid{
 padding-top: 0%!important; 
 margin-left: 0!important;  
 padding-right: 0%!important;   
 padding-left: 0%!important; 
}
    

#myImg{
  margin: 0;    
} 

.img-fluid{
  box-shadow:none !important;
    margin-left: 12%;
    width: 75%;
}    
    
    .modal_content{
        display: none;
        width: 100%;

    }
    
.reel{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 8%;
}    

 .title h2{
    font-size: 35px;
    line-height: 32px;
    font-weight: 500 !important;
     margin-bottom: 25px;
    
    }    
      
    

    
.about_pic{
    margin-top: 60px;
    margin-left: 0% !important;
    width:100%!important;
    height: auto!important;
   
}    
  
#about_container{
    margin-left: 0% !important;
    width:100%!important;
    height: auto!important;
}  
    
.about_h1_holder{
    float: left;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 40px !important;
  /*  margin-bottom: 15% !important; */
    padding-bottom:15%;
        
}
 
.about_h1_holder h1{
    font-size: 15px!important;
    line-height: 24px;
        
} 

    
.arrow_down{
  display: none;

}
  
    
.ui_head_pic{
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 0px;
    width:auto;
    height: 76vh;
   
}    
    
.ui_h2_holder{
    position: relative;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
}     

    .ui_h2_holder h2{
        font-size: 9vw;
        line-height: 13vw;
    }    
 
.ui_how_holder{
    position: relative;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
}     

    .ui_how_holder h2{
        font-size: 9vw;
        line-height: 13vw;
    }     

hr {
width: 80%;
height: 2px;
margin-left: auto;
margin-right: auto;
background-color: #FFDF4B;
border: 0 none;
margin-top: 1rem;
margin-bottom: 1rem;
}  
    
.hr_2 {
width: 80%;
height: 2px;
margin-left: auto;
margin-right: auto;
background-color: black;
border: 0 none;
margin-top: 1rem;
margin-bottom: 1rem; 
}    
    
 
    
.how_pic{
    display: inline;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0%;
    width: 80% ; 
}    

.ui_branding_holder{
    position: relative;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: -1%;
}      
    
 .ui_branding_holder h2{
    font-size: 9vw;
    line-height: 13vw;
    }  
  
    .icon_pic{
        width: 85.5vw;
        margin-top: 0px;
    }
   

    

    
#icon_pic_holder{
    display: inline;
    position: relative;
    float: left;
    margin-left: %;
    margin-top: 15px;
    margin-right: 0%;
    width:85.5vw;
}
    
    
    
.icon_text p{
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 12PX;
    text-align: center;
    font-weight: 400;
}   
    
 #iconandcolour_holder{
    margin-left: 7.5%;
     
    
} 
 
 
    
    
.screens{
    display: inline;
    position: relative;
    float: left;
    margin-top: 30px;
    width:100vw;  
}

.screens2{
    display: none;
}    
  
.insta_ad{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
   
}  
    
    
 .advertising h2{
    font-size: 9vw;
    line-height: 13vw;
    }      
   
.groove_video{
    width: 80%;
    margin-left: 10%;
    box-shadow: none;
    margin-bottom: 3%;
}
    
.previous{
    display: none;
    
} 
    
.next {
    display: none;
    } 
    
    .backtotop{
        margin-top: 2%;
        padding-bottom: 10%;
    }    
    
.backtotop a{
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 12PX;
    text-align: center;
    font-weight: 500;
    }    
   
    .previous_mobile{
        display: inline;
        float: left;
        margin-left: 10%
    } 
    
    .next_mobile{
        display: inline;
        float: right;
        margin-right: 10%
    }    
    
    .footer{
        margin-top: 0%;
    }
    
.print_head_pic{
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
} 
    
.print_goal_pic{
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 9%;
    margin-top: 4%;
    margin-right: 0%;
    width: 81%;
    margin-bottom: 4%;

}   
    
.ror1{
    position: relative;
    float: left;
    width: 87%;
    margin-left: 5.75%;
    margin-top: 3.5%;
}

.ror2{
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.ror3{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
}

.ror4{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
}

.ror5{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
}

.ror6{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
}

.ror7{
    width: 80%;
    margin-left: 10%;
    margin-top: 5.5%;
    margin-bottom: 4%;
} 
    
    
.web_head_pic{
   position: relative;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 14%;
    width:80%;
    height: auto;  
} 
  
.web_how_holder{
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
    }    
    
.web_h2_holder h2{
    font-size: 9vw;
    line-height: 13vw;
    }     
 
.nb_video{
    margin-top: 10%;    
}    
    
 .web1{
    width: 80%;
    margin-top: 4%; 
}
    
    .web2{
        width: 85%;
        margin-left: 7.5%;
        margin-top: 4%;
        margin-bottom: 8%;   
    } 
    
.blum1{
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 3.5%;
} 
    
.blum2{
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}    
    
.print_head_pic{
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
}     

.type_head_pic{
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
}   
    
.mo1{
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 3.5%;
} 
    
.mo2{
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 3.5%;
}
    
.mo3{
    position: relative;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 3.5%;
}     
       
    
}




/* -------------------- 700 - 1216 (ABOUT) MEDIA QUERIES -------------------- */



@media screen and (max-width: 1216px) and (min-width: 700px){
    

.about_pic{
    display: inline-block;
    float: left;
    margin-top: 10vh!important;
    width:auto;
    height: 45vw!important;
   
}
    
#about_container{
    margin-right: 0%!important;
    margin-left: 10%;
}    
    
   .about_h1_holder{
    float: right;
    margin-right: 10%;   
    display: inline-block;
    width: 38vw!important;
    margin-left:0vw!important;
    margin-top: 30%!important;
}

.about_h1_holder h1{
    font-size: 2vw!important;
    line-height: 2.75vw;
    margin-bottom: 0;
} 
    
    
      
    
    
    
}




